<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
<head>
<meta charset="utf-8" />    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
</head>
<body>
<div class="container">


  <!-- Navigation -->
  <div class="masthead">
    <h3 class="text-muted">Hello Restaurant!</h3>
    <nav>
      <ul class="nav nav-justified">
        {% for table in tables %}
        <li id="menu_link_{{table.id}}"><a href='{{ path('tables', {'current_table':table.id}) }}'>{{table.number}}</a></li>
        {% endfor %} 
      </ul>
    </nav>
  </div>
<form method="POST">
  
  <!-- Orders -->
  <div class="jumbotron">
    <div class="list-group">
      <div class="list-group-item active">
        Orders
      </div>
          {% if orders|length >0 %}
            {% for order in orders %}
                <div class="list-group-item">{{ order.dish.name }} x{{ order.quantity }}</div>
            {% endfor %}
          {% else %}
            <div class="list-group-item">No orders for this table yet</div>
          {% endif %}      
          </div>
      
        <p> <button type="submit" class="btn btn-success" name="finish" value="1">Finish order</button></p>        
                      
  </div>

  <!-- Dishes -->
  <div class="row">
     {% for dish in dishes %}
   <div class="col-md-4">
      <div class="thumbnail">
        <img src="{{ asset(['bundles/framework/images/', dish.image]|join) }}" alt="{{ dish.name }}">
        <div class="caption text-center">
          <h3>{{ dish.name }}</h3>
          <p>{{ dish.description }}</p>
          <p> <button type="submit" class="btn btn-primary" name="order" value="{{ dish.id }}">Order</button></p>
        </div>
      </div>
    </div>
  {% if (loop.index % 3 == 0) and (loop.last != 1) %}
  </div>
  <div class="row">  
    {% endif %}

    {% endfor %}
  </div>
  <input type="hidden" id="current_table" value="{{ current_table }}">
</form>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{{ asset("bundles/framework/js/main.js") }}"></script>
</body>




